<div class="container" style="margin-top: 30px;min-height: 500px">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="list-group">
                {% for doc in docs %}
                    <a href="{{chapterPage| page({ doc_id:doc.id })}}" class="list-group-item">
                        {{doc.name}}
                        <span style="font-size:12px;">
                            创建于 {{ doc.created_at.diffForHumans }}，更新于{{ doc.updated_at.diffForHumans }}
                        </span>
                    </a>

                {% endfor %}

            </div>
        </div>
    </div>
</div>
