{% if doc.if_need_translate %}
    <div class="box-customer" >
        <div class="box-left">
            <button class="btn btn-primary btn-sm" type="button">
                参与人数 <span class="badge">{{chapter.chapterUserCount}}</span>
            </button>
        </div>
        <div class="box-right">
            {% if chapter.stateType %}
            {% for state in chapter.stateType %}
            <a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug,type:state['type'] })}}" class="btn btn-primary btn-sm active" role="button">{{state['desc']}}</a>&nbsp;&nbsp;
            {% endfor %}
            {% else %}
            <span class="label label-primary">{{chapter.stateDesc}}</span>&nbsp;&nbsp;<a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug })}}" class="btn btn-primary btn-sm active" role="button">查看</a>
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="row">
    {{chapter.content_html|raw}}
</div>

{% if chapter.videos|length>0 %}

<div class="row">
    {% for video in chapter.videos %}
    <div class="col-md-12">
        <video
            class="video-js vjs-default-skin vjs-big-play-centered"
            controls
            preload="auto"
            width=100% height=540
            poster="{{video.image.path}}"
            data-setup=""
        >
            <source src="" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>

    </div>
    {% endfor %}
</div>
{% endif %}
