<div class="box-customer" >
    <div class="box-left">
        <button class="btn btn-primary btn-sm" type="button">
            参与人数 <span class="badge">{{chapter.chapterUserCount}}</span>
        </button>
    </div>
    <div class="box-right">
        {% if chapter.stateType %}
        {% for state in chapter.stateType %}
        <a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug,type:state['type'] })}}" class="btn btn-primary btn-sm active" role="button">{{state['desc']}}</a>&nbsp;&nbsp;
        {% endfor %}
        {% else %}
        <span class="label label-primary">{{chapter.stateDesc}}</span>&nbsp;&nbsp;<a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug })}}" class="btn btn-primary btn-sm active" role="button">查看</a>
        {% endif %}
    </div>
</div>
<div class="row">
    {{chapter.content_html|raw}}
</div>
