<div data-control="docs-cacher" class="docs-cacher">
     <div class="container">
         <div class="row ">
             {% set chapters = __SELF__.chapters()%}
             {% set chapter = __SELF__.chapter()%}
             {% set doc = __SELF__.doc%}
             <div class="col-md-{% if doc.side_is_top %}3{% else %}12{% endif %} col-display" >
                 <ul class="docs-sidebar-toc">
                     {% if chapter %}
                     {% partial 'BookList::sidebar' chapters=chapters %}
                     {% endif %}
                 </ul>
             </div>
             <div class="col-md-{% if doc.side_is_top %}9{% else %}12{% endif %}">
<!--                 <p class="display-sidebar"><span class="icon-list"></span></p>-->
                 <div class="md-content js-toc-content">
                     {% if chapter %}
                         {% if chapter.if_total_translate %}
                            {% partial 'BookList::chapter' chapter=chapter doc=doc %}
                         {% else %}
                            {% partial 'BookList::section' chapter=chapter doc=doc %}
                         {% endif %}
                     {% else %}
                        {% partial 'BookList::instruction' chapters=chapters doc=doc %}
                     {% endif %}

                 </div>
             </div>
         </div>
     </div>
</div>
