<div data-control="docs-cacher" class="docs-cacher">
     <div class="container">
         <div class="row ">
             {% set chapters = __SELF__.chapters()%}
             {% set chapter = __SELF__.chapter()%}
             <div class="col-md-3 col-display" >
                 <ul class="docs-sidebar-toc">
                     {% chapter %}
                     {% partial 'BookList::sidebar' chapters=chapters %}
                     {% endif %}
                 </ul>
             </div>
             <div class="col-md-9">
                 <p class="display-sidebar"><span class="icon-list"></span></p>
                 <div class="md-content">
                     {% if chapter %}
                         {% if chapter.if_total_translate %}
                            {% partial 'BookList::chapter' chapter=chapter %}
                         {% else %}
                            {% partial 'BookList::section' chapter=chapter %}
                         {% endif %}
                     {% else %}
                        {% partial 'BookList::instruction' chapters=chapters %}
                     {% endif %}

                 </div>
             </div>
         </div>
     </div>
</div>
