<div data-control="docs-cacher">
     <div class="container">
         <div class="row ">
             <div class="col-md-3 col-display" >
                 <ul class="docs-sidebar-toc">
                     {% partial 'BookList::sidebar' chapters=chapters %}
                 </ul>
             </div>
             <div class="col-md-6">
                 <p class="display-sidebar"><span class="icon-list"></span></p>
                 <div class="md-content">
                     {% if content_html %}
                        {{content_html|raw}}
                     {% else %}
                        {% partial 'BookList::instruction' chapters=chapters %}
                     {% endif %}

                 </div>
             </div>
         </div>
     </div>
</div>
