<ul>
    {% for chapter in chapters %}
        {% if(chapter.children.count()>0) %}
            <li class="header">
                <h4>
                    {{chapter.title}}
                </h4>
                {% partial 'BookList::instruction' chapters=chapter.children %}
            </li>
        {% else %}
            <li class="item">


                {% if chapter.if_total_translate %}
                    <a href="{{this.page.baseFileName| page({ doc_id:chapter.doc_id, chapter_id:chapter.id })}}">{{chapter.title}}</a>
                    {% if chapter.stateType %}
                        {% for state in chapter.stateType %}
                        <a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug,type:state['type'] })}}">[{{state['desc']}}]</a>&nbsp;&nbsp;
                        {% endfor %}
                    {% else %}
                        [{{chapter.stateDesc}}<a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug })}}">查看</a>]
                    {% endif %}
                {% else %}
                    <div class="row" style="height: 30px;">
                        <div class="col-md-2">
                            <a href="{{this.page.baseFileName| page({ doc_id:chapter.doc_id, chapter_id:chapter.id })}}">{{chapter.title}}</a>
                        </div>
                        <div class="col-md-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{chapter.rateProgress}};">
                                    {{chapter.rateProgress}}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </li>
        {% endif %}
    {% endfor %}
</ul>

