<ul>
    {% for chapter in chapters %}
        {% if(chapter.children.count()>0) %}
            <li class="header">
                <h4>
                    {{chapter.title}}
                </h4>
                {% partial 'BookList::instruction' chapters=chapter.children %}
            </li>
        {% else %}
            <li class="item">
                <a href="{{this.page.baseFileName| page({ doc_id:chapter.doc_id, chapter_id:chapter.id })}}">{{chapter.title}}</a>

                {% if chapter.if_total_translate %}
                    {% if chapter.stateType %}
                        {% for state in chapter.stateType %}
                        <a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug,type:state['type'] })}}">[{{state['desc']}}]</a>
                        {% endfor %}
                    {% else %}
                        [{{chapter.stateDesc}}<a href="{{ translatePage| page({class_type:'chapters',slug:chapter.slug })}}">查看</a>]
                    {% endif %}
                {% else %}
                    <a href="{{ sectionsPage| page({  chapter_id:chapter.id })}}">[分块翻译]</a>
                {% endif %}

            </li>
        {% endif %}
    {% endfor %}
</ul>

