<ul>
    {% for chapter in chapters %}
        {% if(chapter.children.count()>0) %}
            <li class="header">
                <h4>
                    {{chapter.title}}
                </h4>
                {% partial 'BookList::instruction' chapters=chapter.children %}
            </li>
        {% else %}
            <li class="item">
                <a href="{{this.page.baseFileName| page({ doc_id:chapter.doc_id, chapter_id:chapter.id })}}">{{chapter.title}}</a>

                <a href="{{ sectionsPage| page({  chapter_id:chapter.id })}}">[翻译进度 todo]</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

