<ul>
    {% for chapter in chapters %}
        {% if(chapter.children.count()>0) %}
            <li class="header">
                <h4>
                    <a href="{{this.page.baseFileName| page({ doc_id:chapter.doc_id, chapter_id:chapter.id })}}"  {% if this.param.chapter_id==chapter.id %} style="color:#bf5329"  {% endif %}>{{chapter.title}}</a>
                </h4>
                {% partial 'BookList::sidebar' chapters=chapter.children %}
            </li>
        {% else %}
            <li class="item">
                <a href="{{this.page.baseFileName| page({ doc_id:chapter.doc_id, chapter_id:chapter.id })}}"  {% if this.param.chapter_id==chapter.id %} style="color:#bf5329"  {% endif %}>{{chapter.title}}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

