.docs-sidebar-toc{
    max-height: 877px;
    overflow-y: auto;
    padding-bottom: 50px;
}
.md-content{
    min-height: 768px;
    padding-left: 20px;
}
.is-fixed{
    position: fixed;
    top:0;
}
.fixed-top{
    top:70px;
}
