.docs-sidebar-toc{

    overflow-y: auto;
    padding-bottom: 50px;
}
.md-content{

    padding-left: 20px;
}
.is-fixed{
    position: fixed;
    top:0;
}
.fixed-top{
    top:70px;
}

.docs-cacher .header, .item{
    list-style: none;
}
.box-customer{
    display: flex;
    width: 100%;
    height: 35px;
}
.box-customer .box-left{
    flex-basis: 50%;
}
.box-customer .box-right{
    flex: 1;
}
.docs-cacher img{
    max-width: 100%;
}
